*{
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    }
.container {
    max-width: 1140px;
    margin: 0 auto;
    }
.header {
    background: #222222;
}
.header_flex {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    width: 100%;
}
.header_left {
    list-style-type: none;
    display: flex;
}
.top_search {
    margin-left: 41px;
    margin-top: 8px;
}
.top_image_right {
    margin-left: 33px;
}
.top_image_menu {
    padding-top: 4px;
    position: relative;
}
.top_image_menu:hover .menu_box{
    display: flex;
    background-color: #FFFFFF;
    flex-direction: column;
    width: 232px;
    height: 764px;
    margin-left: 168px; 
    margin-top: 23px;
}
.header_right {
    list-style-type: none;
    display: flex;
}
.menu_links {
    display: block;
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    padding: 12px 54px;

}
.menu_links:hover {
    color:  #F16D7F;
    display: block;
}
.menu_heading {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding-top: 37px;
    padding-left: 34px;
    padding-bottom: 4px;
}
.menu_heading_offer {
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    padding-top: 20px;
    padding-left: 33px;
}
.menu_box {
    position: absolute;
    display: none;
}
.top_content {
    background-color: #F1E4E6;
    height: 764px;
}
.banner {
    display: flex;
    margin-left: -230px;
}
.top_border {
    width: 12px;
    height: 92px;
    background-color: #F16D7F;
    margin-left: 63px;
    margin-top: 290px;
}
.top_info {
    display: flex;
    flex-direction: column;
    margin-top: 290px;
}
.top_info_header {
    margin-left: 16px;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
    font-weight: bold;
}
.top_info_content {
    font-size: 32px;
    color: #222222;  
    margin-left: 16px;
}
.textcolor {
    color: #F16D7F;
}
.break {
    display: flex;
    justify-content: space-between;
    padding-top: 65px;
    padding-bottom: 30px;
}
.img_item {
    position: relative;
    display: flex;
}
.img_item_offer {
    position: absolute;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    top: 105px;
}
.accesories {
    top: 65px;
}
.personal_offer {
    font-size: 24px;
}
.img_item_opacity {
    filter: brightness(0.4);
}
.middle_section {
    padding-top: 96px;
    padding-bottom: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading-3 {
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}
.heading-3_content {
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}
.gallery {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.gallery_item {
    width: 360px;
    height: 581px;
    align-self: center;
    background-color: #F8F8F8;
    text-decoration: none;
}
h6 {
    padding-left: 18px;
    padding-top: 25px;
    padding-bottom: 12px;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}
.description {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    padding-left: 18px;
    color: #5D5D5D;
    width: 315px;
}
.price {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    margin-top: 18px;
    margin-left: 18px;
}
.button {
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    text-decoration: none;
    margin-top: 48px;
    margin-bottom: 109px;
    border: 1px solid #FF6A6A;
    padding: 15px 38px;
    align-self: center;
}
.button:hover {
    color: #FFFFFF;
    background-color: #F16D7F;
}

.footer_top {
    background: #222224;
    height: 341px;
}
.footer_info {
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.footer_top_content{
    display: flex;
    justify-content: space-between;
    padding-top: 103px;
}
.footer_img {
    align-self: center;
    padding-bottom: 25px;
}
.heading-5 {
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
    text-align: center;
}
.footer_text {
    margin-top: 16px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}
.footer_background {
    background-image: url(img/footer_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 448px;
}
.background_content {
    display: flex;
    justify-content: space-between;
    padding-top: 86px;
    align-items: center;
}
.footer_left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer_middle_text {
    padding-top: 18px;
    width: 360px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}
.heading-4 {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: #222224;
    line-height: 167.2%;

}
.form {
    display: flex;
    flex-direction: column;
}
.subscribe_text {
    font-size: 18px;
    text-align: center;
    color: #222224;
}
.input {
    background-color: #E1E1E1;
    padding: 7px 103px 6px 22px;
    border-radius: 15px 0 0 15px;
    border:none;
    margin-top:32px;
    height: 32px;
}
.footer_button {
    background-color:#F26376;
    padding: 7px 20px 6px 20px;
    border-radius:  0 15px 15px 0 ;
    border:none;
    margin-top:32px;
    height: 45px;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-left: -5px;
}
.footer_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222224;
    height: 79px;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    padding-left: 235px;
    padding-right: 230px;
}
.icons:hover {
    background-color: #F16D7F;
}